            <nav id="dl-menu" class="dl-menuwrapper" role="navigation">
                <button id="nav-button" class="dl-trigger dl-active">Open Menu</button>
                <ul id="nav-menu" class="dl-menu dl-menuopen">
                    <div class="myrow" style="margin: 3px 0px;">
                        <div class="col-12 no-padding">
                            <li><a href="{{ site.url }}/"><i class="fa fa-home" style="margin-right: 5px;"></i>Home</a></li>
                            <li><a href="{{ site.url }}/about"><i class="fa fa-user-circle" style="font-size: 15px; margin-right: 5px;"></i>About</a></li>
                        </div>
                    </div>
                </ul>
            </nav>