---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<style>
</style>
<body>
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="mycontainer home">
            <div class="row">
                <a href="{{ site.url }}">
                    <img src="{{ site.logo }}" class="img-circle zoombtn">
                </a>
                <h3 class="title">
                    <a class="zoombtn" href="{{ site.url }}">
                        <p style="font-size:1.5rem;font-weight:700">{{ site.title }}</p>
                    </a>
                </h3>
                <hr class="hr-line">
                <h3 class="title">
                    <a>
                        <p style="font-size:1rem;font-weight:400">{{ site.bio }}</p>
                    </a>
                </h3>

                <hr class="hr-line">
                
                <h3 class="title">
                    <!-- <a class="btn zoombtn" href="#" id="cv" style="font-size:16px;">
                        <i class="fa fa-file-pdf-o" style="margin-right: 10px;"></i>CV
                    </a> -->
                    <a class="btn zoombtn" href="{{ site.url }}/about" style="font-size:16px;">
                        About
                    </a>
                    <!-- <a class="btn zoombtn" href="{{ site.url }}/posts" style="font-size:16px;">
                        Posts
                    </a> -->
                    <!-- <a class="btn zoombtn" href="{{ site.url }}/projects">
                        Projects
                    </a> -->
                </h3>

                <hr class="hr-line">

                <h3 class="title">
                    <code style="font-size:0.8rem;font-weight:400;color:#CC0000">Status</code>
                </h3>

                <hr class="hr-line">

                <h3 class="title" style="display:block">
                    <div class="row-home">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>06/2025</div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="word-wrap: break-word;">Worked on simulation of AI training clusters and prototyping of GenAI/LLM pre-training workloads at scale.</div>
                    </div>
                    <div class="row-home">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>09/2024</div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="word-wrap: break-word;">Worked on 6G architecture design for emerging applications (LLM, XR).</div>
                    </div>
                    <div class="row-home">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>07/2024</div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="word-wrap: break-word;">Worked on Multi-Agent Reinforcement Learning (MARL) for 5G/6G networks.</div>
                    </div>
                    <div class="row-home">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>11/2023</div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="word-wrap: break-word;">Worked on 5G NR/CBRS and Wi-Fi 6E networked testbed deployment.</div>
                    </div>
                    <!-- <div class="row-home">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>01/2023</div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="word-wrap: break-word;">Worked on architectural design of open MEC-RAN platform.</div>
                    </div>
                    <div class="row-home">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>07/2022</div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="word-wrap: break-word;">Worked on edge computing for path planning in autonomous driving.</div>
                    </div>
                    <div class="row-home">
                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"><i class="fa fa-calendar-o" aria-hidden="true" style="font-size:13px;margin-right:5px;"></i>05/2022</div>
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="word-wrap: break-word;">Worked on task orchestration for multi-tier edge computing.</div>
                    </div> -->
                </h3>

                {% include social-links.html %}
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="https://documentcloud.adobe.com/view-sdk/viewer.js"></script>
    <script type="text/javascript">
        const previewConfig = {
            embedMode: "LIGHT_BOX",
            exitPDFViewerType: "RETURN",
        };

        document.getElementById('cv').addEventListener("click", function(){ 
            /* var adobeDCView = new AdobeDC.View({clientId: "2a5927dacf6047a7ab82579b812a1a5a"}); */
            var adobeDCView = new AdobeDC.View({clientId: "3708d35338d2481eaf75ed2e706a3507"});
            adobeDCView.previewFile({
                content:{location: {url: "/assets/pdf/Curriculum-Vitae-2024-10.pdf"}},
                metaData:{fileName: "Curriculum-Vitae-Yuan-Yao-Lou.pdf"}
            }, previewConfig);
        });
    </script>
</body>
</html>
